.time-slot-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.time-group {   
    margin-bottom: 20px;
}

.time-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

h3 {
    margin: 5px 0;
    font-size: 18px;
    color: rgb(153, 40, 59);
}

.time-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.time-slot {
    padding: 10px 15px;
    border: 2px solid orange;
    border-radius: 5px;
    background: white;
    color: orange;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.time-slot:hover {
    background: orange;
    color: white;
}

.selected {
    background: orange;
    color: white;
    font-weight: bold;
}